* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
/* Estilos para la navegación */
nav {
    background-color: black;
    color: #fff;
    display: flex;
    font-size: larger;
    text-align: right;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 25px;
    color: #fff;
    text-decoration: none;
  }
  
  .selector-logo {
    height: 300px;
    padding: 15px;
    background-repeat: no-repeat;
}
  
  /* Estilos para la sección de inicio */
  .inicio {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .inicio h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .inicio p {
    font-size: 24px;
  }
  
  /* Estilos para la sección de servicios */
  .servicios {
    background-color: black;
    color: white;
    padding: 50px 0;
  }
  
  .servicios h2 {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .servicios .serv {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
   
  }
  
  .servicios .serv img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .servicios .serv h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .servicios .serv p {
    font-size: 18px;
    text-align: justify;
  }
  

  /* Estilos para los grids del inicio */
  .container {
    background-color: black;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    background-color: black;
    color: white;
  }
  
  .col-md-4 {
    width: 33.33%;
  }
  
  /* Media queries */
  @media (max-width: 991px) {
    .col-md-4 {
      width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    .col-md-4 {
      width: 100%;
    }
  }

/* Estilos para el formulario de contacto */
.contact-form {
    padding: 50px 0;
    background-color: black;
  }
  
  .contact-form img {
    max-width: 50%;
    /* width: 300px;
    height: 300px; */
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact-form .form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .contact-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    width: 100%;
  }
  
  .contact-form textarea {
    height: 200px;
  }
  
  .contact-form button {
    background-color: #333;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }
  /* Estilos para los grids */
.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    
  }
  
  .col-sm-12 {
    width: 100%;
  }
  
  .col-sm-6 {
    width: 50%;
  }
  
  .col-md-4 {
    width: 33.33%;
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  /* Media queries */
  @media (max-width: 767px) {
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-6 {
      width: 100%;
    }
    .col-md-4 {
      width: 50%;
    }
    .col-md-6 {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-4 {
      width: 50%;
    }
    img {
      max-width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .col-md-4 {
      width: 25%;
    }
    img {
      max-width: 100%;
    }
  }

  /* Estilo para clientes */
  .clientes {
    background-color: black;
    color: white;
    padding: 50px 0;
  }

  .inicio {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .inicio h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .inicio p {
    font-size: 24px;
  }


/* Estilo para todos los footer */
footer {
  background-color: black;
  color: white;
}

.selector-footer {
background-color: black;
color: white;
/* font-style: italic; */
font-size: small;
font-weight: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 15px;
max-width: 1200px;
margin: 0 auto;
display: flex;
}


